body {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  
  font-family: sans-serif;
}

/* all styling for left side of the page */

.leftside {
  background-image: url(images/halie-west-25xggax4bSA-unsplash.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.dark-area {
  background-color: rgba(7, 7, 7, 0.5);
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30%;
  padding-top: 2%;
  height: 150px;
}

.odin {
  width: 100px;
  height: 140px;
}

h1 {
  font-family: Norse;
  color: white;
  font-size: 90px;
  align-self: center;
  padding-top: 3%;
}

footer, footer a {
  color: white;
  text-align: center;
}

/* all styling for right side of the page */

.rightside {
  display: flex;
  flex-direction: column;
  background-color: rgb(242, 242, 242);
  height: 100vh;
}

.title {
  width: 63%;
  padding-left: 10%;
  padding-top: 7.4%;
}

label {
  color: #6e6e6f;
  font-size: 0.8rem;
  letter-spacing: 0.2rem;
  font: bold 0.8em sans-serif;
}

input {
  font-family: inherit;
  font-size: 100%;
  border: 1px solid #E5E7EB;
  width: 300px;
  padding: 0.2rem;
  box-sizing: border-box;
}

.form-title h2 {
  padding-left: 10%;
}

section {
  margin-top: 5%;
  background-color: white;
  padding-top: 1%;
  padding-bottom: 6%;
  box-shadow: 20% black;
}

button {
  color: white;
  background-color: #596D48;
  width: 250px;
  height: 50px;
  margin-top: 2%;
  margin-left: 10%;
  border-radius: 12px;
  font: bold 1em sans-serif;
}

h4 {
  padding-left: 10%;
}

.form-row {
  padding-left: 10%;
  display: flex;
  flex-direction: row;
  gap: 5%;
}

.form-element {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type="text"],
input[type="email"] {
  margin-bottom: 15%;
}

input:invalid {
  border: 2px solid red;
}

input + span {
  position: relative;
}

::placeholder {
  color: #c7c7c8;
}

input:invalid + span:before {
  content: "* Passwords do not match";
  color: red;
  font-size: 0.7rem;
}


